*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    width: 100vw;
    height: 100vh;
    min-height: 650px;
    display: flex;
}

.container-video{
    z-index: 50;
    width: 100%;
    height: 100%;
    min-height: 650px;
    position: absolute;
    display: flex;
    }
    #back-img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: 50% 100%;
    }
    .shadow{
        z-index: 100;
        height: 100%;
        width: 100%;
        background-color: #00000030;
        position: absolute;
    }

.inicio{
    z-index: 200;
    width: 100%;
    height: 100%;
    min-height: 650px;
    font-size: 10px;
    position: absolute;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 25% 75%;
}



/* DATES ***************************************************************** */
.dates{
    width: 100%;
    height: 100%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

    #temp{
        margin: 0;
        color: #ffffff;
        font-family: 'Raleway', sans-serif;
        font-size: 8em;
        font-weight: 700;
        text-shadow: 5px 5px 10px #00000059;
    }
    #city{
        margin: 0;
        color: #ffffff;
        font-family: 'Raleway', sans-serif;
        font-size: 2.2em;
        font-weight: 700;
        text-shadow: 5px 5px 10px #00000059;
    }
    #date{
        margin: 0;
        color: #ffffff;
        font-family: 'Raleway', sans-serif;
        font-size: 2.2em;
        font-weight: 600;
        text-shadow: 5px 5px 10px #00000059;
    }
    #hour{
        margin: 0;
        color: #ffffff;
        font-family: 'Raleway', sans-serif;
        font-size: 2.2em;
        font-weight: 600;
        text-shadow: 5px 5px 10px #00000059;
    }



/* RESULTS ********************************************************************** */
.results{
    margin: auto;
    width: 90%;
    height: 90%;
    background: rgba(0, 0, 0, 0.300);
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.500);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 45% 48% 7%;
}

#search-form{
    display: flex;
    flex-direction: column;
}
    #search-form p{
        margin: auto auto 0 auto;
        text-align: center;
        font-family: 'Raleway', sans-serif;
        font-size: 3em;
        font-weight: 700;
        color: #ffffff;
        text-shadow: 5px 5px 10px #00000059;
    }
    #search-form h1{
        margin: auto;
        text-align: center;
        font-family: 'Raleway', sans-serif;
        font-size: 4em;
        font-weight: 700;
        color: #ffffff;
        text-shadow: 5px 5px 10px #00000059;
    }
    #searchbox{
        margin: auto;
        padding: 5px 0 5px 0;
        width: 88%;
        text-align: center;
        font-family: 'Raleway', sans-serif;
        font-size: 2.5em;
        font-weight: 500;
        color: #000000;
        caret-color: #38878c;
        background: rgba(255, 255, 255, 0.5);
        border-radius: 20px;
        border: none;
        outline: none;
        }

    #enviar{
        margin: auto;
        padding: 5px 0 5px 0;
        width: 150px;
        text-align: center;
        font-family: 'Raleway', sans-serif;
        font-size: 2em;
        font-weight: 500;
        color: #000000;
        background: #ffffff;
        border-radius: 18px;
        border: none;
        }
        #enviar:hover{
            cursor: pointer;
            color: #ffffff;
            background: #38878c;
        }



.others-dates{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
}
    .cielo{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        }
        .cielo h3{
            width: 50%;
            margin: auto;
            text-align: center;
            color: #ffffff;
            font-family: 'Raleway', sans-serif;
            font-size: 2em;
            font-weight: 700;
        }
        .cielo p{
            width: 50%;
            margin: auto;
            text-align: center;
            color: #ffffff;
            font-family: 'Raleway', sans-serif;
            font-size: 2em;
            font-weight: 500;
        }
    .humedad{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        }
        .humedad h3{
            width: 50%;
            margin: auto;
            text-align: center;
            color: #ffffff;
            font-family: 'Raleway', sans-serif;
            font-size: 2em;
            font-weight: 700;
        }
        .humedad p{
            width: 50%;
            margin: auto;
            text-align: center;
            color: #ffffff;
            font-family: 'Raleway', sans-serif;
            font-size: 2em;
            font-weight: 500;
        }
    .viento{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        }
        .viento h3{
            width: 50%;
            margin: auto;
            text-align: center;
            color: #ffffff;
            font-family: 'Raleway', sans-serif;
            font-size: 2em;
            font-weight: 700;
        }
        .viento p{
            width: 50%;
            margin: auto;
            text-align: center;
            color: #ffffff;
            font-family: 'Raleway', sans-serif;
            font-size: 2em;
            font-weight: 500;
        }



.poweredBy{
    display: flex;
    background-color: #ffffff;
    border-radius: 15px;
    }
    .poweredBy p{
        margin: auto;
        color: #38878c;
        font-family: 'Raleway', sans-serif;
        font-size: 1.5em;
        font-weight: 700;
    }
    .poweredBy p span{
        color: #000000;
    }





/* RESPONSIVE ***************************************************************** */
@media only screen and (min-width: 960px) {
    main{
        min-height: 500px;
    }
    .container-video{
        min-height: 500px;
        }
    .inicio{
        min-height: 500px;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 1fr;
    }

    .dates{
        padding: 7.5%;
        align-items: flex-start;
        justify-content: flex-end;
    }
    #temp{
        font-size: 12em;
    }
    #city{
        font-size: 3em;
    }
    #date{
        font-size: 3em;
    }
    #hour{
        font-size: 3em;
    }
}

@media only screen and (min-width: 1280px) {
    #temp{
        font-size: 14em;
    }
    #city{
        font-size: 5em;
    }
    #date{
        font-size: 5em;
    }
    #hour{
        font-size: 5em;
    }
    .cielo h3{
        font-size: 3em;
    }
    .cielo p{
        font-size: 3em;
    }

    .humedad h3{
        font-size: 3em;
    }
    .humedad p{
        font-size: 3em;
    }

    .viento h3{
        font-size: 3em;
    }
    .viento p{
        font-size: 3em;
    }

    .poweredBy{
        border-radius: 25px;
        }
        .poweredBy p{
            font-size: 2.2em;
        }
}

@media only screen and (min-width: 1920px) {
    #temp{
        font-size: 20em;
    }
    #city{
        font-size: 6em;
    }
    #date{
        font-size: 6em;
    }
    #hour{
        font-size: 6em;
    }
    .cielo h3{
        font-size: 4em;
    }
    .cielo p{
        font-size: 4em;
    }

    .humedad h3{
        font-size: 4em;
    }
    .humedad p{
        font-size: 4em;
    }

    .viento h3{
        font-size: 4em;
    }
    .viento p{
        font-size: 4em;
    }
    
    #search-form p{
        font-size: 5em;
    }
    #search-form h1{
        font-size: 6em;
    }
    #searchbox{
        font-size: 4em;
        border-radius: 22px;
        }

    #enviar{
        width: 200px;
        font-size: 3em;
        border-radius: 20px;
        }
}