*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

#total{
    width: 100%;
    height: 100%;
    min-height: 600px;
}

#inicio{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100;
    min-height: 600px;
}
.container__video{
    width: 100%;
    height: 100%;
    z-index: 100;
    }
    video{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

#main{
    width: 100%;
    height: 100%;
    min-height: 600px;
    font-size: 10px;
    position: absolute;
    z-index: 200;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 25% 75%;
}



/* DATES ***************************************************************** */
.dates{
    width: 100%;
    text-align: center;
}

.temp{
    margin-left: 50px;
    width: 70%;
    text-align: center;
    }
    .temp-text{
        text-align: left;
        color: #ffffff;
        font-family: 'Raleway', sans-serif;
        font-size: 8em;
        text-shadow: 5px 5px 10px #00000059;
    }

.sub-dates{
    margin-left: 50px;
    width: 70%;
    text-align: center;
    }
    .ubicacion{
        width: 100%;
        text-align: center;
        }
        .ubicacion-text{
            text-align: left;
            color: #ffffff;
            font-family: 'Raleway', sans-serif;
            font-size: 2.2em;
            font-weight: 700;
            text-shadow: 5px 5px 10px #00000059;
        }
    .hora{
        margin: auto;
        width: 100%;
        display: flex;
        }
        .hora-text{
            margin: auto 10px;
            text-align: left;
            color: #ffffff;
            font-family: 'Raleway', sans-serif;
            font-size: 2.2em;
            font-weight: 600;
            text-shadow: 5px 5px 10px #00000059;
        }



/* CONTAINER ********************************************************************** */
.container{
    margin: auto;
    width: 90%;
    height: 90%;

    background: rgba(0, 0, 0, 0.1);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.589);
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    border-radius: 20px;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 42% 42% 16%;
}



/* SEARCH ***************************************************************** */
.buscador{
    font-size: 10px;
    padding: 10px;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
}

.titulo{
    width: 100%;
    margin: auto;
    display: flex;
    }
    .titulo h1{
        margin: auto;
        text-align: center;
        font-family: 'Raleway', sans-serif;
        font-size: 3em;
        font-weight: 500;
        color: #ffffff;
        text-shadow: 5px 5px 10px #00000059;
    }

.lugar{
    width: 100%;
    margin: auto;
    display: flex;
    }
    .content-lugar{
        margin: auto;
        width: 80%;
        height: 40px;
        text-align: center;
        font-family: 'Raleway', sans-serif;
        font-size: 2.5em;
        color: #000000;
        caret-color: #38878c;
        background: rgba(255, 255, 255, 0.5);
        box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.192);
        backdrop-filter: blur( 5px );
        -webkit-backdrop-filter: blur( 5px );
        border-radius: 20px;
        border: none;
        outline: none;
        }
        .content-lugar::placeholder{
            color: #000000;
        }

.enviar{
    width: 100%;
    margin: auto;
    display: flex;
    }
    .content-enviar{
        margin: auto;
        width: 150px;
        height: 40px;
        text-align: center;
        font-family: 'Raleway', sans-serif;
        font-size: 2em;
        font-weight: 500;
        color: #38878c;
        background: #ffffff;
        box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.192);
        backdrop-filter: blur( 5px );
        -webkit-backdrop-filter: blur( 5px );
        border-radius: 18px;
        border: none;
        }
        .content-enviar:hover{
            cursor: pointer;
            color: #ffffff;
            background: #38878c;
        }



/* OTHER DATES ***************************************************************** */
.others-dates{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
}

    .cielo{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        }
        .cielo-title{
            width: 50%;
            margin: auto;
            text-align: center;
            color: #ffffff;
            font-family: 'Raleway', sans-serif;
            font-size: 2em;
            font-weight: 700;
        }
        .cielo-text{
            width: 50%;
            margin: auto;
            text-align: center;
            color: #ffffff;
            font-family: 'Raleway', sans-serif;
            font-size: 2em;
            font-weight: 500;
        }

    .humedad{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        }
        .humedad-title{
            width: 50%;
            margin: auto;
            text-align: center;
            color: #ffffff;
            font-family: 'Raleway', sans-serif;
            font-size: 2em;
            font-weight: 700;
        }
        .humedad-text{
            width: 50%;
            margin: auto;
            text-align: center;
            color: #ffffff;
            font-family: 'Raleway', sans-serif;
            font-size: 2em;
            font-weight: 500;
        }

    .viento{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        }
        .viento-title{
            width: 50%;
            margin: auto;
            text-align: center;
            color: #ffffff;
            font-family: 'Raleway', sans-serif;
            font-size: 2em;
            font-weight: 700;
        }
        .viento-text{
            width: 50%;
            margin: auto;
            text-align: center;
            color: #ffffff;
            font-family: 'Raleway', sans-serif;
            font-size: 2em;
            font-weight: 500;
        }



/* REDES SOCIALES ***************************************************************** */

.redes{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    background-color: #ffffff;
    border-radius: 15px;
}

.container__redes{
    width: 100%;
    display: flex;
    justify-content: center;
    justify-content: center;
    align-items: center;
    }
    .button-redes__container{
        width: 40px;
        height: 40px;
        margin: auto 5%;
        display: flex;
        }
        .button-redes{
            margin: auto;
            width: 100%;
            height: 100%;
            color: #000000;
            background-color: transparent;
            font-size: 30px;
            border: none;
            }
            .button-redes:hover{
                color: #38878c;
                cursor: pointer;
            }

.container__text-redes{
    width: 100%;
    text-align: center;
    }
    .text-redes{
        margin: auto;
        color: #000000;
        font-family: 'Raleway', sans-serif;
        font-size: 1.5em;
    }
    .text-redes2{
        color: #38878c;
        font-weight: 700;
    }





/* RESPONSIVE ***************************************************************** */


/* main */
@media only screen and (min-width: 1250px) {
    #main{
        width: 100%;
        height: 100%;
        font-size: 10px;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 1fr;
    }
}

@media only screen and (min-width: 1500px) {
    #main{
        width: 100%;
        height: 100%;
        font-size: 10px;
        display: grid;
        grid-template-columns: 60% 40%;
        grid-template-rows: 1fr;
    }
}


/* dates */
@media only screen and (min-width: 450px) {
    .ubicacion-text{
        font-size: 3em;
    }
    .hora-text{
        font-size: 3em;
    }
}

@media only screen and (min-width: 1250px){
    .dates{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .temp{
        margin-left: 15px;
        width: 50%;
        position: absolute;
        bottom: 20%;
    }
    .sub-dates{
        margin-left: 15px;
        width: 50%;
        position: absolute;
        bottom: 3%;
    }
    .temp-text{
        font-size: 12vw;
    }
    .ubicacion-text{
        font-size: 4vw;
    }
    .hora-text{
        font-size: 3vw;
    }
}

@media only screen and (min-width: 1500px){
    .dates{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .temp{
        margin-left: 15px;
        width: 50%;
        position: absolute;
        bottom: 17%;
    }
    .sub-dates{
        margin-left: 15px;
        width: 50%;
        position: absolute;
        bottom: 3%;
    }
    .temp-text{
        font-size: 25em;
    }
    .ubicacion-text{
        font-size: 8em;
    }
    .hora-text{
        font-size: 5em;
    }
}

/* SEARCH */
@media only screen and (min-width: 450px){
.titulo h1{
        font-size: 4em;
    }

    .content-lugar{
        width: 80%;
        height: 45px;
        font-size: 3em;
        border-radius: 20px;
        }

    .content-enviar{
        width: 250px;
        height: 45px;
        font-size: 2.5em;
        border-radius: 18px;
        }
}

/* OTHER DATES */
@media only screen and (min-width: 450px){
.cielo-title{
        font-size: 3em;
    }
    .cielo-text{
        font-size: 2.5em;
    }

.humedad-title{
        font-size: 3em;
    }
    .humedad-text{
        font-size: 2.5em;
    }

.viento-title{
        font-size: 3em;
    }
    .viento-text{
        font-size: 2.5em;
    }
}